@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root {
    --primary-color: #ffca26;
    --primary-transparent: #ffca261a;

    --blue-transparent: #00A2FF50;
    --purple-transparent: #6a00ff50;

    --dark-gray: #222A35;
    --dark-gray-light: #293040;
}

::selection {
    background: var(--primary-color);
    color: var(--dark-gray-light);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body{
    background: linear-gradient(145deg,var(--dark-gray),var(--dark-gray-light));
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.circle{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    filter: blur(150px);
    position: absolute;
}

.circle--purple{
    background: var(--purple-transparent);
    right: 50%;
    bottom: 50%; 
}

.circle--blue{
    background: var(--blue-transparent);
    left: 50%;
}

.currency-converter{
    background: linear-gradient(210deg,#ffffff1a, var(--primary-transparent) 100%);
    padding: 32px;
    border-radius: 12px;
    border: solid 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.currency-converter_title{
    margin-bottom: 48px;
    text-align: center;
}

.currency-converter_input{
    width: 100%;
    padding-inline: 16px;
    padding-block: 8px;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    outline: solid 2px transparent;
    transition: 150ms ease;
    margin-bottom: 40px;
}

.currency-converter_input:focus{
    outline: solid 2px var(--primary-color);
}

.currency-converter_select-group{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;

}



.currency-converter_select{
    display: flex;
    align-items: center;
    gap: 8px;
}

.currency-converter_select img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.currency-converter_select select{
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    width: 75px;
    outline: none;
    cursor: pointer;
}


.currency-converter_select select option {
    background: var(--dark-gray);
    font-size: 16px;
}

.currency-converter_select select::-webkit-scrollbar{
    background: var(--dark-gray-light);
}

.currency-converter_select select::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

.currency-converter_swap-button{
    background: var(--primary-color);
    width: 42px;
    height: 42px;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms ease;
    cursor: pointer;
}

.currency-converter_swap-button:active{
    transform: scale(0.95);
}

.currency-converter_swap-button i {
    color: var(--dark-gray);
    font-size: 24px;
    color: #000;
    font-size: 15px;
}

.currency-converter_exchange-rate{
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding-block: 12px;
    text-align: center;
    margin-top: 32px;
    border-radius: 12px;
    font-weight: 500;
    transition: 300ms ease;
}

.currency-converter_exchange-rate:hover{
    background: rgba(0, 0, 0, 0.2);

}

.currency-converter_convert-button{
    width: 100%;
    margin-top: 24px;
    padding-block: 6px;
    background: var(--primary-color);
    color: var(--dark-gray);
    font-family: 600;
    border-radius: 99px;
    border: solid 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 150ms ease;
}

.currency-converter_convert-button:active{
    transform: scale(0.95);
}